﻿@model WebPortal.Models.LinkModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LinkModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Длинная ссылка
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongLink)
        </dd>

        <dt>
            Короткая ссылка
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortLink)
        </dd>

        <dt>
            Редиректов:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedirectedCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку ссылок", "Index")
</p>
