﻿@model IEnumerable<WebPortal.Models.LinkModel>

@{
    ViewBag.Title = "Ссылки";
    if (ViewBag.GroupName != null)
    { <h2 class="btn-top">Ссылки группы @ViewBag.GroupName</h2>}
    else
    { <h2 class="btn-top">Все ссылки</h2> }
}


@{ 
    if (ViewBag.GroupName != null)
    {
    <p>
        <button type="button" class="btn btn-success">
            @Html.ActionLink("Создать новую ссылку", "Create", new { groupId = ViewBag.GroupId })
        </button>
    </p>
    }
}
<table class="table">
    <tr>
        <th>
            Статус:
        </th>
        <th>
            Название:
        </th>
        <th>
            Длинная ссылка:
        </th>
        <th>
            Короткая ссылка:
        </th>
        <th>
            Редиректов:
        </th>
        <th>Удалить:</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("ChangeStatus", "Link", new { id = item.Id })">
                    @{ if (item.Status)
                        {
                            <div class="toggleButton toggleButtonOn">
                                <span class="toogleButtonCaption">ON</span>
                                @Html.CheckBoxFor(p => item.Status, htmlAttributes: new { @class = "CheckBoxSel" })
                            </div>
                        }
                        else
                        {
                            <div class="toggleButton toggleButtonOff">
                                <span class="toogleButtonCaption">OFF</span>
                                @Html.CheckBoxFor(p => item.Status, htmlAttributes: new { @class = "CheckBoxSel" })
                            </div>
                        }
                    }
                </a>
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.LongLink
            </td>
            <td>
                @item.ShortLink
            </td>
            <td>
                @item.RedirectedCount
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-close">
                    @Html.ActionLink("X", "Delete", new { id = item.Id })
                </button>
            </td>
        </tr>
    }

</table>


<div>
    @Html.ActionLink("Назад к списку групп", "Index", "Group")
</div>
