﻿@model WebPortal.Models.LinkModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>LinkModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RedirectedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RedirectedCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
