﻿
@{
    ViewBag.Title = "Это закрытая часть сайта";
}

<h2>Это закрытая часть сайта!</h2>
<br><br>
<h4>
    Гостям сайта сюда нельзя. Совсем нельзя<br><br />
</h4>
<p>Пройдите на @Html.ActionLink("регистрацию", "Register", "Account") или @Html.ActionLink("авторизацию", "Login", "Account")</p>
<img class="img-meme" src="~/Content/cant.gif" />
