﻿.toggleButtonOn, .toggleButtonOff {
    width: 100px;
    height: 25px;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
}

.toggleButtonOn {
    text-align: right;
    background-color: green;
}

.toggleButtonOff {
    text-align: left;
    background-color: red;
}

a:hover > .toggleButton, a:active > .toggleButton, a:visited > .toggleButton, a > .toggleButton {
    color: white;
    text-decoration: none;
}

.toogleButtonCaption {
    padding: 0px;
    margin: 0px;
    font-size: 15pt;
}

.CheckBoxSel {
    display: none;
}

.btn > a {
    color: white;
}

.btn > a:hover {
    color: white;
}

.table {
    margin-top: 20px;
}

.btn-top {
    margin-bottom: 100px;
}

.img-meme {
    width: 490px;
    height: 336px;
}