﻿@model IEnumerable<WebPortal.Models.GroupModel>

@{
    ViewBag.Title = "Мои группы";
}

<h2 class="btn-top">
    Мои группы
</h2>

<p>
    <button type="button" class="btn btn-success">
        @Html.ActionLink("Создать новую группу", "Create")
    </button>
</p>
<table class="table">
    <tr>
        <th>Статус:</th>
        <th>Название группы:</th>
        <th>Редиректов в группе:</th>
        <th>Ссылок в группе:</th>
        <th></th>
    </tr>

    @for (int i = 0; i<Model.Count(); i++)
    {
        var item = Model.ElementAt(i);
        <tr>
            <td>
                <a href="@Url.Action("ChangeStatus", "Group", new { id = item.Id })">
                    @{ if (item.Status)
                        {
                            <div class="toggleButton toggleButtonOn">
                                <span class="toogleButtonCaption">ON</span>
                                @Html.CheckBoxFor(p => item.Status, htmlAttributes: new { @class = "CheckBoxSel" })
                            </div>
                        }
                        else
                        {
                            <div class="toggleButton toggleButtonOff">
                                <span class="toogleButtonCaption">OFF</span>
                                @Html.CheckBoxFor(p => item.Status, htmlAttributes: new { @class = "CheckBoxSel" })
                            </div>
                        }
                    }
                </a>
            </td>
            <td>
                <a href="@Url.Action("Index", "Link", new { id = item.Id })">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @ViewBag.ArrayRedirectLinkCounts[i]
            </td>
            <td>
                @ViewBag.ArrayLinkCounts[i] ссылки
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-close">
                    @Html.ActionLink("X", "Delete", new { id = item.Id })
                </button>
            </td>
        </tr>
    }

</table>
