﻿@{
    ViewBag.Title = "About";
}
<h2>Сервис по сокращению ссылок</h2>

<p>Сервис выполнен на основе ASP.NET MVC 5.</p>
<p>Основное меню, как и функционал сервиса, раскрывается только после авторизации.</p>
<p>С целью предотвращения доступа к чужим ссылкам была составлена обработка строго по username, посторонние не должны получить доступ к чужим данным.</p>
<p>Для составления диаграммы была использована библиотека <a href="https://google-developers.appspot.com/chart/interactive/docs/gallery/piechart">Pie Chart</a> </p>
<p>Некоторые элементы интерфейса были изменены для улучшения юзабилити.</p>
<p></p>