﻿@model IEnumerable<WebPortal.Models.GroupModel>

@{
    ViewBag.Title = "Аналитика групп";
}

<h2>Аналитика групп</h2>

<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

          var data = google.visualization.arrayToDataTable([
              ['Имя группы', 'Количество ссылок']
              @{ for (int i = 0; i < Model.Count(); i++)
                  {
                      @Html.Raw(",['" + Model.ElementAt(i).Name + "'," + ViewBag.ArrayLinkCounts[i] + "]");
                  }
                  }
        ]);

        var options = {title: 'Статистика групп сылок'};

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
</script>

<div id="piechart" style="width: 900px; height: 500px;"></div>

