﻿@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Поддержка:</strong>   <a href="mailto:mihailych007@yandex.ru">mihailych007@yandex.ru</a> - Михаил Пироговский<br />
</address>